.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileContainer > img{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div{
    margin-left: 1.5rem;
    flex: 1;
}

.profileContainer div strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.profileContainer div p{
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--gray-line);
}

.profileContainer div p img{
    margin-right: 0.5rem;
}

.profileContainer button{
    background: transparent;
    border: 0;
}

.profileContainer button:active{
    height: 35px;
    width: 35px;
}

.profileContainer button img{
    height: 35px;
    width: 35px;
}

@media(max-width:1080px) {
    .profileContainer{
        margin-top: 4rem;
    }
}