.container{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.container section > div img{
    height: 100%;
    width: 90%;
}

@media(max-width:1080px) {
    .container section{
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    .container section > div img{
        width: 70%;
    }
}